@charset "utf-8";
/* PIREE.CO.KR 피리 검은아이 */


/* 사이드_메뉴 */
.piree_side_menu {position:relative; padding:8px 15px 8px 14px; border-bottom:1px solid #dde4e9}
.piree_side_menu h2 {margin:0; padding:0; font-size:0; line-height:0; overflow:hidden}
.piree_side_menu h3 {margin:6px 0 2px 2px; font-size:1.0em; overflow:hidden}
.piree_side_menu ul {margin:0; padding:0; list-style:none; }
.piree_side_menu li {position:relative; width:100%; }
.piree_side_menu li a { display:block; padding:7px; color:#4646ff; }


.font_aaa { color:#aaa; }
.font_000 { color:#000; }
.font_222 { color:#222; }
.font_555 { color:#555; }
.font_777 { color:#777; }
.font_999 { color:#999; }
.font_green { color:green; }
.font_cyan_1 { color:#5586eb; }
.font_ff0000 { color:#ff0000; }
.font_ff4444 { color:#ff4444; }
.font_0000ff { color:#0000ff; }
.font_4444ff { color:#4444ff; }
.font_oyoomo { color:#888; }


.piree_help_str { color:#528e56; line-height:2.0em; }


.font_area_title { color:#222; font-size:1.3em; font-weight:bold; line-height:2.4em; }


.str_bold { font-weight:bold; }


.str_4466ff_bold { color:#4466ff; font-weight:bold; }
.str_ff3333_bold_10 { color:#ff4444; font-weight:bold; font-size:10pt; }
.str_ff3333_bold_11 { color:#ff4444; font-weight:bold; font-size:11pt; }
.str_3334dd_bold_10 { color:#3334dd; font-weight:bold; font-size:10pt; }
.str_3334dd_bold_11 { color:#3334dd; font-weight:bold; font-size:11pt; }


/* 줄바꿈 */
.cl_bo { clear:both; }


/* 정렬 */
.fl_left  { float:left; }
.fl_right { float:right; }


/* 높이 */
.cell_height_auto { height:auto !important; }
.cell_height_26 { height:36px !important; }
.cell_height_36 { height:36px !important; }
.cell_height_52 { height:52px !important; }
.cell_height_72 { height:72px !important; }
.cell_height_80 { height:80px !important; }
.cell_height_110 { height:110px !important; }
.cell_height_120 { height:120px !important; }


/* 줄간격 */
.line_h_1_8 { line-height:1.8em; }
.line_h_2_0 { line-height:2.0em; }
.line_h_2_2 { line-height:2.2em; }
.line_h_2_4 { line-height:2.4em; }
.line_h_2_6 { line-height:2.6em; }
.line_h_2_8 { line-height:2.8em; }
.line_h_3_0 { line-height:3.0em; }
.line_h_3_2 { line-height:3.2em; }


/* 공백_줄 */
.space_5px  { position: relative; clear:both; left:10px; width:20px; height:5px; }
.space_10px { position: relative; clear:both; left:10px; width:20px; height:10px; }
.space_20px { position: relative; clear:both; left:20px; width:20px; height:20px; }
.side_line  { position: relative; clear:both; left:10px; width:20px; height:1px; background:#ddd; }


/* 주소복사 */
.div__sh_url_copy  {position:absolute;top:50px;right:20px;margin:0;padding:0;height:24px;color:#222;}


/* 왼쪽 */
.td_left_5   {width:5px;}
.td_left_30  {width:30px;}
.td_left_40  {width:40px;}
.td_left_50  {width:50px;}
.td_left_60  {width:60px;}
.td_left_70  {width:70px;}
.td_left_80  {width:80px;}
.td_left_100 {width:100px;}
.td_left_120 {width:120px;}
.td_left_138 {width:138px;}
.td_left_140 {width:140px;}
.td_left_145 {width:145px;}
.td_left_150 {width:150px;}
.td_left_160 {width:160px;}
.td_left_180 {width:180px;}
.td_left_200 {width:200px;}
.td_left_220 {width:220px;}
.td_left_230 {width:230px;}
.td_left_240 {width:240px;}
.td_left_250 {width:250px;}
.td_left_260 {width:260px;}
.td_left_270 {width:270px;}
.td_left_280 {width:280px;}
.td_left_290 {width:290px;}
.td_left_300 {width:300px;}
.td_left_340 {width:340px;}
.td_left_430 {width:430px;}
.td_left_460 {width:460px;}
.td_left_520 {width:520px;}
.td_left_530 {width:530px;}
.td_left_560 {width:560px;}
.td_left_570 {width:570px;}
.td_left_600 {width:600px;}
.td_left_620 {width:620px;}


/* 가운데 */
.td_center     { text-align:center; }
.td_right      { text-align:right; }
.td_center_40  { text-align:center; width:40px; }
.td_center_50  { text-align:center; width:50px; }
.td_center_60  { text-align:center; width:60px; }
.td_center_70  { text-align:center; width:70px; }
.td_center_80  { text-align:center; width:80px; }
.td_center_100 { text-align:center; width:100px; }
.td_center_120 { text-align:center; width:120px; }
.td_center_150 { text-align:center; width:150px; }
.td_center_200 { text-align:center; width:200px; }
.td_center_240 { text-align:center; width:240px; }
.td_center_300 { text-align:center; width:300px; }
.td_center_340 { text-align:center; width:340px; }
.td_center_430 { text-align:center; width:430px; line-height:1.8em; word-break:break-all; }


.no_use { color:#888; text-align:center; }


/* 위에_줄 */
.top_line_01 {position:relative;margin:-10px 0 2px;padding:10px 20px;border-bottom:1px solid #e9e9e9;background:#e6ffff}
.top_line_01 .top_line_list {display:inline-block;margin:0 5px 0 0;padding:0 10px 0 0;border-right:1px solid #ccc}




/* 주요_가로_목록 */
.mobile_hor__list h2                { display:block; padding-left:7px; font-size:1.3em; color:#222; font-weight:bold; }
.mobile_hor__list ul                { position:relative; list-style:none; zoom:1; }
.mobile_hor__list ul:after          { display:block; visibility:hidden; clear:both; content:""; }
.mobile_hor__list a                 { position:relative; display:block; font-size:1.1em; padding:9px 0 12px 8px; background:#fff; color:#444; text-align:left; cursor:pointer; }
.mobile_hor__list li                { float:left; width:100%; height:auto; border-top:1px solid #f5f5f5; padding:0; }
.mobile_hor__list li a              { position:relative; display:block; font-size:1.1em; padding:8px 0 11px 16px; background:#fff; color:#444; text-align:left; cursor:pointer; }
.mobile_hor__list li .cont_padd_6   { float:left;padding:6px 0 6px 6px;text-decoration:none;}
.mobile_hor__list li .cont_padd_8   { float:left;padding:8px 0 8px 8px;text-decoration:none;}
.mobile_hor__list a:focus           { text-decoration:none; }
.mobile_hor__list a:active          { text-decoration:none; }
.mobile_hor__list .mobile_hor__list_on  { z-index:2; border:1px solid #565e60; background:#fff; color:#000; }
.mobile_hor__list .mobile_hor__list_emp { z-index:2; border:1px solid #93acca; background:#eef6ff; color:#0000ff; }
.mobile_hor__list .mobile_hor_choose  { color:#1f60aa; }




/* 게시글_목록 */
#article_news h2 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#article_news ul {padding-left:1px;zoom:1}
#article_news ul:after {display:block;visibility:hidden;clear:both;content:""}
#article_news li {border-bottom:1px solid #efefef;width:100%;line-height:2.0em; padding:0; }
#article_news a {display:block;position:relative;margin-left:-1px;padding:0; background:#fff;color:#444;text-align:left;text-decoration:none; }
#article_news .wall_aaa     {color:#aaa; padding:0 8px 0 8px; }
#article_news .wr_nick #article_news .wr_datetime #article_news .wr_hit { color:#888;text-decoration:none; }
#article_news .span_aaa { color:#aaa;text-decoration:none; }
#article_news .wr_mem_mn_n     { color:#444; padding:0 0 0 10px; }
#article_news .wr_mem_mn_s     { color:#888; padding:0 0 0 4px; }
#article_news li .div_center_50  {float:left;width:50px;text-align:center}
#article_news li .div_left_40    {float:left;width:40px; padding:0 0 0 4px;}
#article_news li .div_left_50    {float:left;width:50px; padding:0 0 0 4px;}
#article_news li .div_left_60    {float:left;width:60px;}
#article_news li .div_left_70    {float:left;width:70px;}
#article_news li .div_left_80    {float:left;width:80px;}
#article_news li .div_left_90    {float:left;width:90px;}
#article_news li .div_left_100   {float:left;width:100px;}
#article_news li .div_left_110   {float:left;width:110px;}
#article_news li .div_left_140   {float:left;width:140px;}
#article_news li .div_left_cont  {float:left;width:auto;}
#article_news li .left_span {position:relative;display:inline-block;overflow:hidden;float:left;width:auto;top:-10px;left:5px; }
#article_news li .comm_span {position:relative;display:inline-block;overflow:hidden;float:right;width:auto;top:-50px;right:5px; }
#article_news li .arti_comm {display:inline-block;padding:2px 8px 2px 8px; font-size:11px; color:#00a213; text-align:center;border:2px solid #efefef; }
#article_news li .member_mn {display:inline-block;padding:2px 8px 2px 8px; font-size:1.2em; color:#2376ff; text-align:center;border:2px solid #aacaff; font-weight:bold; }
#article_news .article_news_choose { color:#00a213; }
