@charset "utf-8";

/*
# p770033 - piree_map_page (피리 맵 페이지)
PIREE
2016년 01월 25일 월요일 오전 09시 36분 - 날씨 무쟈게 추움, 이번 한파의 마지막 날이라고 하는데...
*/


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
	overflow-y:hidden;
	text-decoration:none !important;
}

 a:hover { text-decoration: none !important;}

#article_list { float:left; margin:0; padding:0; width:100%; height:600px; overflow-y:scroll; background:#DCDCDC;}
#article_list .article_list_right {width: calc(100% - 20px); margin:auto; box-shadow: 1px 1px 1px 1px grey; margin-top:8px; background:#FFF;overflow:auto; }
#article_list .article_total_d { font-family:Malgun Gothic; margin:0 0px 1px 0; padding:10px 0px 5px 7px; background:#D21279 !important; }


#map_infowin { padding:2px; width:240px; height:auto; line-height:2.0em; overflow:hidden; }
#map_infowin .mi_title { color:#D21279; font-weight:bold; font-size:18px;}
#map_infowin .mi_address { color:#000; font-size:15px; }





/*
Author     : Dave Earley
Author Url : http://Dave-Earley.com
Date       : 20th March 2010
*/

/*Start slide out box*/
	#box_main {
		width: 100%;
		height: 500px !important;
		float:left;
	
		padding:2px;
		background:#fff;
		border-left:1px solid #ccc;
		overflow:none !important;
	}
	#box_wrap {

		display:block;
		float:left;
		clear:both;
		width: 100%;
		height:auto;
		position:absolute;

		left:0px;
		top:40px;
		line-height:2.0em;
		z-index:20;
	}
/*End slide out box*/


      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  text-overflow: ellipsis;
  width: calc(100% - 4px);
  line-height: 40px;
  height: 40px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
.pac-container {
  font-family: Roboto;
}

/* 기본테이블 */
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left}

.tbl_piree_01 {margin:0 0 5px 0}
.tbl_piree_01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_piree_01 thead th {padding:12px 0;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_piree_01 thead a {color:#383838}
.tbl_piree_01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_piree_01 tfoot th, .tbl_piree_01 tfoot td {padding:10px 0;text-align:center}
.tbl_piree_01 tbody th {padding:8px 0;}
.tbl_piree_01 td {padding:2px;line-height:1.8em;word-break:break-all}
.tbl_piree_01 a {}